<h1>Editing class tran</h1>

<%= render "form", class_tran: @class_tran %>

<br>

<div>
  <%= link_to "Show this class tran", @class_tran %> |
  <%= link_to "Back to class trans", class_trans_path %>
</div>
