<%= stylesheet_link_tag 'home_page' %>

<div class="homePage">
    <h1 class="homePageHeading">CoinFlow</h1>
    <div class="homePageButtonBox">
        <a href="<%= user_session_path %>"><button class="homePageButtonBlue">LOG IN</button></a>
        <a href="<%= new_user_registration_path %>"><button class="homePageButtonWhite">SIGN UP</button></a>
    </div>
</div>
