@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
  src:
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
  src:
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
    url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.homePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
}

.homePageHeading {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'proxima_nova_rgbold', sans-serif;
  font-size: xx-large;
}

.homePageButtonBox {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.homePageButtonWhite,
.homePageButtonBlue,
.loginField {
  width: 100%;
  height: 3rem;
  border: none;
}

.homePageButtonBlue {
  background-color: #3778c2;
  color: white;
}

.topThreeFields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 25rem;
}

.forgotPassword {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  color: rgb(182, 182, 182);
  text-decoration: none;
}

.loginField {
  background-color: white !important;
  color: rgb(182, 182, 182) !important;
  border: 1px solid rgb(182, 182, 182);
}

.loginField:-webkit-autofill,
.loginField:-webkit-autofill:hover,
.loginField:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  border: 1px solid rgb(182, 182, 182);
  -webkit-text-fill-color: rgb(182, 182, 182) !important;
}

.homePageButtonWhite {
  color: #434b54;
  background-color: white;
}

.loginPage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar {
  background-color: #3778c2;
  color: white;
  font-family: 'Proxima Nova Light', sans-serif;
}

.leftIcon {
  color: white;
}
